<h3>About</h3>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <p>
                    This is a choose your own adventure. Select a choice that directly reflects how you would do it. There are mainly two choices, sometimes a third.
                    Your class will eventually come into play for certain situations. You'll need to collect items, gear and artifacts to further boost your stats, otherwise 
                    you may end up dying and have to start over.
                    <br><br>
                    Tread carefully as the further in you go, the harder it will be to progress.
                    <br><br>
                    Let's see how far you can make it before you perish.
                </p>
            </div>
        </div>
    </div>
</div>