<div class="container my-5" style="padding-bottom: 50px;">
  <router-outlet></router-outlet>

  <div class="mx-5 my-5" style="display: none; ">
    <app-class-component></app-class-component>
  </div>
</div>

<footer class="bg-light fixed-bottom" style="margin-top: 100px;">
  <!-- Copyright -->
  <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="btn btn-secondary mx-1" routerLink="/" >Home</a>
    <a class="btn btn-secondary mx-1" routerLink="/class-component" >Classes</a>
    <a class="btn btn-secondary mx-1" routerLink="/about-component" >Help</a>
  </div>
  <!-- Copyright -->
</footer>
